%section.people
  %header
    %h2 People I Follow
  %table.table
    %thead
      %tr
        %th(width="30%")
        %th(width="20%") Videos in Queue
        %th(width="20%") Followers
        %th(width="30%") Unfollow
    %tbody
      - @followerships.each do |followership|
        %tr
          %td
            %img(src="http://www.gravatar.com/avatar/#{Digest::MD5.hexdigest('followership.followee.email'.downcase)}?s=40")
            = link_to followership.followee.fullname, followership.followee
          %td.extra-padding= followership.followee.queue_videos.count
          %td.extra-padding= followership.followee.followed_relationships.count
          %td.extra-padding
            = link_to followership, method: :delete do
              %i.icon-remove
