%article.video
  .container
    .row
      .video_large_cover.span7.offset1
        %img{:src => @video.large_cover_url}/
      .video_info.span3
        %header
          %h3= @video.title
          %span Average Rating: #{@video.average_ratings}/5.0
        %p.pull-left= @video.description
        .actions
          %a.btn.btn-primary{:href => "#"} Watch Now
          %a.btn{:href => "#"} + My Queue    
%section.reviews.container
  .row
    .span10.offset1
      = bootstrap_form_for([@video,@review], help: :block) do |f|
        %fieldset
          =f.select :rate, [["5 Stars", 5],["4 Stars", 4],["3 Stars", 3],["2 Stars", 2],["1 Star", 1]], label: 'Rate this video'
          = f.alert_message "Please fix the errors below."
          = f.text_area :body, label:'Write Review', rows: 5, class: 'span5'
          %fieldset.actions.clearfix
            = f.submit 'Submit', disable_with: 'Saving...', class: 'btn'
            %a(href="") Cancel
      %header
        %h3 User Reviews (#{@video.reviews.count})
      %ul
        -@video.recent_reviews.each do |review|
          %article.review
            %li.row
              .span2
                %span 
                  Rating : #{review.rate} / 5
                %p 
                  by #{review.user.fullname}  
              .span8
                %p= review.body