%article.video
  .container
    .row
      .video_large_cover.span7.offset1
        %img{:src => @video.large_cover_url}/
      .video_info.span3
        %header
          %h3= @video.title
          %span Average Rating: #{@video.average_ratings}/5.0
        %p.pull-left= @video.description
        .actions
          %a.btn.btn-primary{:href => "#"} Watch Now
          =link_to "+ My Queue", queue_videos_path(video_id: @video.id), method: :post, class: "btn" unless current_user.queued_already?(@video)

%section.reviews.container
  .row
    .span10.offset1
      = bootstrap_form_for([@video,@review], help: :block) do |f|
        %fieldset
          %label Rate this video
          =f.select :rate, options_for_video_reviews
          = f.alert_message "Please fix the errors below."
          = f.text_area :body, label:'Write Review', rows: 5, class: 'span5'
          %fieldset.actions.clearfix
            = f.submit 'Submit', disable_with: 'Saving...', class: 'btn'
            %a(href="") Cancel
      %header
        %h3 User Reviews (#{@video.reviews.count})
      %ul
        -@video.recent_reviews.each do |review|
          %article.review
            %li.row
              .span2
                %span 
                  Rating : #{review.rate} / 5
                %p 
                  by #{ link_to review.user.fullname, user_path(review.user) }
              .span8
                %p= review.body